.menu {
  list-style: none;
  padding: 0;

  display: flex;
  justify-content: center;
}

.item {
  border-bottom: 1px solid white;
  padding: 10px;
}

.active {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid transparent;
}
